* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

h1 {
  font-family: 'Baloo Tamma 2', cursive;
  color: #6c757d;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

button {
  font-family: 'Baloo Tamma 2', cursive;
  text-align: center;
  border: 2px solid #6c757d;
  color: #fff;
  font-size: 1.25rem;
  padding: 5px 45px;
  border-radius: 50px;
  background-color: #6c757d;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #495057;
  border: 2px solid #495057;
}
